Imaginarium.service/Imaginarium/Imaginarium/obj/project.nuget.cache
Imaginarium.service/Imaginarium/Imaginarium/obj/project.assets.json
Imaginarium.service/Imaginarium/Imaginarium/obj/Imaginarium.csproj.nuget.g.props
Imaginarium.service/Imaginarium/Imaginarium/obj/Imaginarium.csproj.nuget.dgspec.json
Imaginarium.service/Imaginarium/Imaginarium/obj/Debug/net7.0/Imaginarium.GeneratedMSBuildEditorConfig.editorconfig
Imaginarium.service/Imaginarium/Imaginarium/obj/Debug/net7.0/Imaginarium.csproj.AssemblyReference.cache
Imaginarium.service/Imaginarium/Imaginarium/obj/Debug/net7.0/Imaginarium.assets.cache
