.modal-wrapper { /* Общая стилистика окон */
    animation: pulseShadow 1.5s infinite alternate ease-in-out;
    position: relative;
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    border-radius: 35px;
    align-items: center;
    flex-flow: column wrap;
    color: wheat;
    padding: 40px;
    width: 400px;
    height: 300px;
}

@keyframes pulseShadow {
    from {
      box-shadow: 0px 0px 15px rgb(68, 0, 255);
    }
    to {
      box-shadow: 0px 0px 60px wheat;
    }
  }

@keyframes pulseError {
    from {
      box-shadow: 0px 0px 15px red;
    }
    to {
      box-shadow: 0px 0px 60px red;
    }
  }

.modal-mask {
    position: absolute;
    display: flex;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    }

.modal-container-exit {
    color: wheat;
    margin: 15px;
    right: 0px; top: 0px;
    user-select: none;
    position: absolute;
    font-size: 35px;
    &:hover {
        background-color: red;
        border-radius: 100%;
        box-shadow: 0px 0px 12px red;
        cursor: pointer;
    }
}

.modal-wrapper-button {
  display: flex;

  .ready {
    margin-top: 10px;
    min-height: 30px;
    width: 80px;
    background-color: wheat;
    font-weight: 800;
    border: 0;
    border-radius: 6px;

    &:hover {
      background-color: #dac397;
      box-shadow: 0 0 12px #0ffc22;
    }
  }
}

.error-container {
  background-color: red;
  color: white;
  padding: 15px;
  margin: 50px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  font-style: italic;
  border-radius: 10px;
  animation: pulseError 0.5s infinite alternate ease-in-out, Move 4.0s;
  max-width: 500px;
}

@keyframes Move {
  0% {
    bottom: -100px;
    right: 0px;
  }
  20% {
    bottom: 0px;
    right: 0px;
  }
  80% {
    bottom: 0px;
    right: 0px;
  }
  85% {
    bottom: 0px;
    right: 40px;
  }
  100% {
    right: -100%;
  }
}